@import url(./resets.css);

header {
    padding: 30px 40px;
    background-color: #0891b2;
    position: relative;
    z-index: -2;
}

header::after {
    content: "";
    position: absolute;
    height: 75%;
    width: 100%;
    bottom: -10px;
    left: 0;
    z-index: -1;
    background-color: #fff;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.profile-img {
    background-image: url(./životopis-fotka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    color: #fff;
}

.profile-img > h3 {
    position: absolute;
    left: 6px;
    bottom: 0;
    width: 100%;
    font-size: 2.4rem;
    text-shadow: 1px 1px 6px #000;
}

.about h2 {
    margin-bottom: 10px;
    text-align: center;
}

.about p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.links {
    font-size: 1.5rem;
}

.about .links {
    text-align: center;
}

main {
    padding: 20px 40px;
}

main > h1 {
    margin-bottom: 8px;
}

.projects {
    margin-bottom: 30px;
}

.project {
    border: 1px solid grey;
}

.project:not(:last-child) {
    margin-bottom: 16px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
}

.project img {
    width: 100%;
}

.project-title {
    font-size: 1.4rem;
}

.project-links {
    font-size: 1.4rem;
}

.project-links :first-child {
    margin-right: 4px;
}

.project-body {
    padding: 10px;
}

.project-body > p {
    color: grey;
}

.tags {
    margin-top: 6px;
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.tag {
    padding: 6px 12px;
    background-color: lightgrey;
    border-radius: 100px;
    border: 1px solid;
}

footer {
    background-color: #0891b2;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-title,
footer .links {
    align-self: center;
}
